@import url('https://fonts.googleapis.com/css?family=Lato:400');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'lato', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  background-color: #0077ff;
  padding-right: 5%;
  padding-left: 5%;
}

h1 {
  color: #fff;
  font-size: 20px;
}

.icon-container {
  display: flex;
  gap: 1rem;
}

.icon {
  color: #fff;
}

.input-section {
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 0;
  background-color: #0077ff;
}

input {
  width: 60%;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.coins-container {
  display: flex;
  flex-wrap: wrap;
}

.coins-container > :nth-child(4n+2),
.coins-container > :nth-child(4n+3)  {
  background-color: #0077ff;
}

.coins-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 50%;
  background-color: #178fff;
}

.coin-logo {
  padding-top: 1rem;
  width: 30%;
}

.icon-details {
  font-size: 12px;
}

.details-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  margin: 10px 0 0 40%;
  position: absolute;
  border-radius: 50%;
  padding-left: 4px;
  padding-right: 4px;
}

.coin-name {
  font-size: 16px;
  color: #fff;
}

.coin-supply {
  font-size: 14px;
  color: #fff;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .coin-logo {
    width: 10%; 
  }
}
